html{
    font-family: Helvetica, sans-serif;
}

.products{
    width: 100%;
    float: left;
    border: 0.5px solid #8D8D87;
    border-radius: 20px;
    margin: 20px;
    background-color: rgba(212,212,202,0.4);
}

.producttext{
    display: block;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    margin: 10px;
    padding: 10px;

}

.gamsu{
    font-family: "FontAwesome", Calibri;
    background-color: rgba(212,212,202,1);
    color: #8D8D87;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    line-height: 20px; 
    border-radius: 5px;
    border: 0.5px solid #8D8D87;
}

.gamsu:visited{
    color: #8D8D87;
    font-weight: 500;
}

.cardstocks{
    font-family: 'Gill Sans MT';
    color: rgba(255,255,255,0.6);
    background-color: #121212;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    line-height: 20px; 
    border-radius: 5px;
    border: 0.5px solid #8D8D87;
}

.cardstocks:visited{
    color: rgba(255,255,255,0.6);
    font-weight: 500;
}