html{
    font-family: Helvetica, sans-serif;
}

.headerbox{
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 5px 0;
    margin: 5px 0;
}

.headerinfo{
    margin: auto;
}

.headertext{
    height: 100%;
    font-size: 25px;
    display: inline-block;
}

.headerimg{
    height: 35px;
    width: 35px;
    float: left;
    padding: 5px;
}

.logo{
    width:100%;
    height: 100%;
}


.main{
    width: 80vw;
    margin: 0 auto;
    max-width: 1080px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.banner{
    padding: 5px;
    border: 1px solid red;
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: calc(1080px/3);
}

.bannerimg{
    width: 100%;
}

@media (min-width: 768px){
    .banner{
        width: 31%;
    }

    .main{
        display: flex;
    }
}


